doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A portfolio template that uses Material Design Lite.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title MDL-Static Website
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.grey-pink.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.portfolio-header
        .mdl-layout__header-row.portfolio-logo-row
          span.mdl-layout__title
            .portfolio-logo
            |  
            span.mdl-layout__title Simple portfolio website
      .mdl-layout__drawer.mdl-layout--small-screen-only
        nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
          a.mdl-navigation__link.is-active(href='/') Memos
          |  
          a.mdl-navigation__link(href='/blog') Blog
          |  
          a.mdl-navigation__link(href='/notes/write') write
      main.mdl-layout__content
        .mdl-grid.portfolio-max-width
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--4dp
            .mdl-card__title
              h2.mdl-card__title-text Blog template
            .mdl-card__media
              img.article-image(src=' images/portfolio-example-01.jpg', border='0', alt='')
            .mdl-card__supporting-text
              strong Includes
              |  
              span Design, UX and Frontend Development
            .mdl-grid.portfolio-copy
              h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Introduction
              .mdl-cell.mdl-cell--6-col.mdl-card__supporting-text.no-padding
                p
                  | Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
              .mdl-cell.mdl-cell--6-col
                img.article-image(src=' images/portfolio-example-02.jpg', border='0', alt='')
              h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Initial Ideas
              .mdl-cell.mdl-cell--6-col
                img.article-image(src=' images/portfolio-example-03.jpg', border='0', alt='')
              .mdl-cell.mdl-cell--6-col.mdl-card__supporting-text.no-padding
                p
                  | Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
              h3.mdl-cell.mdl-cell--12-col.mdl-typography--headline Final Concept
              .mdl-cell.mdl-cell--6-col
                img.article-image(src=' images/portfolio-example-05.jpg', border='0', alt='')
              .mdl-cell.mdl-cell--6-col
                img.article-image(src=' images/portfolio-example-06.jpg', border='0', alt='')
              .mdl-cell.mdl-cell--8-col.mdl-card__supporting-text.no-padding
                p
                  | Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
        footer.mdl-mini-footer
          .mdl-mini-footer__left-section
            .mdl-logo Simple portfolio website
          .mdl-mini-footer__right-section
            ul.mdl-mini-footer__link-list
              li
                a(href='#') Help
              li
                a(href='#') Privacy &amp; Terms
    script(src='https://code.getmdl.io/1.3.0/material.min.js')

